* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}
body *{
    overflow-y: hidden;

}

.info_bar {
    font-size: 2.5vh;
/* dla smartfonów 1.5vh */
    position: sticky;
    text-align: right;
    padding: 0.5%;
    padding-top: 0.8%;
}

.container-fluid {
    background-image: url(../img/b2.png);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.naglowek-h1 {
    text-align: center;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    font-weight: 100;
    font-size: 90px;
    margin: 100px 0px 50px 0px;
    overflow: hidden;
}

.naglowek-h1 a {
    text-decoration: none!important;
    color: #fff;
}

.naglowek-h1 span {
    padding: 1px;

}

.naglowek-h1 a:hover {
    color: #fff;
    cursor: default;
}

.naglowek-span {
    font-weight: 300;
    padding: 20px;
}

.naglowek-text {
    text-align: center;
}

.naglowek-text .main-text {
    font-size: 4vh;
}

.naglowek-text .text,.text-end {
    font-size: 3vh;
    margin-top: -0.5%;
}
.naglowek-text .down{
    font-size: 8vh;
        overflow-y: hidden;

}
.project {
    height: 90vh;
    width: 100vw;
}





/*Foooter*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    color:blanchedalmond;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  mediumpurple;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
    margin: 15px;
    padding: 5px;
}
.footer-distributed .footer-icons .fab{
    font-size: 37px;
    padding: 2px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 42px;
	height: 42px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

